.About{
    align-items: center;
    display: flex;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    padding: 0px;
    width: 100vw;;
    background-color: #1f1f1f;
    scroll-snap-align: center;
    margin-left: 5vw;
}

.about-me{
    color: rgb(0, 0, 0);
    -ms-flex-align: center;
    flex-direction: row;
    height: 100vh;
    width: 90vw;
    padding-top: 0vh;
    padding-bottom: 5px;
    margin: 0;
}

.about-header {
    font-size: 90px;
    text-shadow: rgb(124, 33, 63) -5px -5px 2px;
    background: -webkit-linear-gradient(#000000,#490000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation-delay: 1s;
    -webkit-animation-play-state: running;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

.about-content {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 20px;
}

.content-header {
    color: #000000;
    font-size: 40px;
    font-weight: bold;
    text-decoration: underline;
}

.acontent-box {
    margin: 2%;
    background-color: rgb(87, 63, 72);
    border: 2px black solid;
    height: 90%;
    border-radius: 20px;
    max-width: 45%;
}

#bio {
    text-align: justify;
    width: 50%;
    font-size: 20px;
}

.content-flex {
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;
    color: #000000;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#pfp {
    width: 200px;
    height: 200px;
    border-radius: 300px;
}