.About{
    align-items: center;
    display: flex;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    padding: 0px;
    width: 100vw;;
    background-color: #1f1f1f;
    scroll-snap-align: center;
}

.about-me{
    color: rgb(0, 0, 0);
    -ms-flex-align: center;
    flex-direction: row;
    height: 100vh;
    padding-top: 0vh;
    padding-bottom: 5px;
    margin: 0;
}

.about-header {
    font-size: 90px;
    text-shadow: rgb(124, 33, 63) -5px -5px 2px;
    background: -webkit-linear-gradient(#000000,#490000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation-delay: 1s;
    -webkit-animation-play-state: running;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

